@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
}


img {
    max-width: 100%;
}

.container{
    margin: 0 auto;
    padding: 0 20px;
    width: 1000px;
    max-width: 100%; 
}